@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@(await Component.InvokeAsync("Slider"))
@*@(await Component.InvokeAsync("AboutMe"))
@(await Component.InvokeAsync("Services"))
@(await Component.InvokeAsync("Counter"))
@(await Component.InvokeAsync("Skills"))
@(await Component.InvokeAsync("Education"))
@(await Component.InvokeAsync("Experience"))
@(await Component.InvokeAsync("Work"))
@(await Component.InvokeAsync("Blog"))
@(await Component.InvokeAsync("Contact"))*@

<h1>implementation  yet</h1>